/* Table container */
#anchor {
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

/* Table header styles */
thead {
    background-color: #4CAF50;
    color: white;
}

th,
td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Table row styles */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

 
/* Header cell styles */
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Data cell styles */
td {
    font-size: 14px;
    color: #333;
}

.hide {
    opacity: 0;
}


td:nth-child(1),th:nth-child(1) {
   width: 250px;
}

td:nth-child(2),th:nth-child(2) {
   width: 148px;
}

td:nth-child(3),th:nth-child(3) {
   width: 80px;
}

td:nth-child(4),th:nth-child(4) {
   width: 130px;
}

td:nth-child(5),th:nth-child(5) {
   width: 125px;
}

tr:last-child td:nth-child(1){
    width: 562px;
}